<!DOCTYPE html>
<html>
  <head>
    <title>My first website with Flask</title>
    <style>
      h1 {
        font: size; 40px;
        font-family: Roboto;
        font-weight: normal;
        text-align: center;
      }

      h2 {
        font-family: Roboto;
        font-size: 32px;
        text-align: center;
        font-weight: normal;
      }

      .bodytext {
        font-family: Roboto;
      }

      #container {
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
    <h1>Привет! Это мой первый сайт созданный с помощью Flask</h1>
    <img id="banner" src="https://flask.palletsprojects.com/en/2.2.x/_images/flask-logo.png">
    <h2>Второй заголовок с текстом из генератора текстов</h2>
    <p class="bodytext">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h2>Третий заголовок, здесь тоже что-нибудь напишу</h2>
    <p class="bodytext">Добавлю еще текста</p>
    <div style="text-align:center;">
    <button>Кнопка</button>
      <p>Copyright 2023, blablabla</p>
    </div>
    </div>
  </body>
</html>